<h1>Welcome</h1>
<p style="text-align:center;"><img src="./assets/img/babylonjs-first-steps-cone.jpg"/></p>
<p>This doc was generated from the Cone.js source code with yuidoc.</p>
<h3 style="font-weight:bold;font-size:170%;"><a href="./classes/Cone.html" title="Get started">Your point of entry is the Cone class</a></h3>
<hr>
<p>
  You can also find informations on :
  <ul>
    <li><a href="https://github.com/topheman/BabylonJSFirstSteps" title="Github repo of twitter-stream-channels">the github repo of the project</a> - Cone.js is included in the repo</li>
    <li><a href="http://labs.topheman.com/babylonjs/" title="Try BabylonJSFirstSteps">Try it here</a>
  </ul>
</p>
<div class="intro">
  <p>With Cone.js you'll be able to manage 3d cones like you would write code with jQuery (chaining, looping, managing multiple cones ...)</p>
</div>
